body{
    background-image:  linear-gradient(45deg, rgba(0, 0, 0, .50) 30%, transparent),url(img/camuflagem1.png);
    background-attachment: fixed;
    width: 100%;
}

.logo{
    padding: 30px;
    background-image:  linear-gradient(45deg, rgba(0, 0, 0, .50) 30%, transparent),url(camuflagem1.png);
    transition: opacity 1s;
    opacity: 0.5;
    width: 100%;
    text-align: center;
}
.logo img{
    width:65%;
}
.logo:hover{
    opacity: 1;
}

h1{
    text-align: center;
    color:white;
}
.armas{
    width: 100%;
    margin-top: 5em;
}
.usp, .fiven, .p250, .xm, .mp5, .ump, .mp7, .ak, .galil1, .m4, .m4a1, .aug1, .sg, .ssg, .awp1{
    width: 90%;
    transition: transform 1s;
    filter:blur(2px);
    transition: filter 1.4s;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.usp:hover, .fiven:hover, .p250:hover, .xm:hover, .mp5:hover, .ump:hover, .mp7:hover, .ak:hover, .galil1:hover, .m4:hover, .m4a1:hover, .aug1:hover, .sg:hover, .ssg:hover, .awp1:hover{
    transform: scale(1.1);
    filter: blur(0px);
}  

.armas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(15, 1fr);
}

@media screen and (min-width: 800px){
    .armas{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(8, 1fr);
    }
    .logo{
        width:100%;
    }
    .logo img{
        width: 35%;
    }
}
@media screen and (min-width: 1200px){
    .armas{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    .logo{
        width: 100%;
    }
    .logo img{
        width: 25%;
    }
}
.lado{
    margin-top: 1em;
}