body{
    background-image:  linear-gradient(45deg, rgba(0, 0, 0, .50) 30%, transparent),url(img/camuflagem1.png);
}
h1{
    text-align:center;
    color: white;
    margin:2em;
}

.logo{
    padding: 30px;
    background-image:  linear-gradient(45deg, rgba(0, 0, 0, .50) 30%, transparent),url(camuflagem1.png);
    transition: opacity 1s;
    opacity: 0.5;
    width: 100%;
    text-align: center;
}
.logo img{
    width:65%;
}
.logo:hover{
    opacity: 1;
}

.mapas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top: 3em;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center; 
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
.mapa{
    filter: blur(2px);
    transition: filter 1.3s;
    transition: transform 1s;
    border: 5px solid #ffffff;
    width: 90%;
}
.mapa:hover{
    filter:blur(0px);
    transform: scale(1.1);
}
@media screen and (min-width:700px){
    .mapas{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .logo{
        width: 100%;
    }
    .logo img{
        width:35%;
    }
}
@media screen and (min-width:1220px){
    .mapas{
        display: grid;
        grid-template-columns: 1fr;
    }
    .mapa{                            
        border: 5px solid #ffffff;
        width: 65%;
    }
    .logo{
        width: 100%;
    }
    .logo img{
        width:25%;
    }
}